<header> 
 <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
      <div class="container">
        <a class="navbar-brand" href="/"> <img src="img/logo.png" alt="logo amigo down" width="80" height="80"
            class="d-inline-block">
          Amigo Down
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="nav">
            <li class="nav-item"><a href="/index.html" class="nav-link active">Início</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Síndrome de Down</a></li>
            <li class="nav-item"><a href="/sobre.html" class="nav-link">Sobre nós</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Transparência</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Como Ajudar</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <hr class="borda-colorida">
</header>