<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
            <div class="container">
                <a class="navbar-brand fw-bold fs-3" href="/amigo-down"> <img src="img/logo.png" alt="logo amigo down" width="80" height="80" class="d-inline-block"> Amigo Down
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item link-menu"><a href="/amigo-down" class="nav-link active">Início</a></li>
                        <li class="nav-item link-menu"><a href="/amigo-down/sobre" class="nav-link">Sobre nós</a></li>
                        <li class="nav-item link-menu"><a href="/amigo-down/atividades" class="nav-link">Atividades</a></li>
                        <li class="nav-item link-menu"><a href="/amigo-down/saude" class="nav-link">Saúde</a></li>
                        <!-- <li class="nav-item link-menu"><a href="/amigo-down/sindrome" class="nav-link">Síndrome de Down</a></li> -->
                        <li class="nav-item link-menu"><a href="/amigo-down/educacao" class="nav-link">Escolaridade</a></li>
                        <li class="nav-item link-menu"><a href="/amigo-down/ajuda" class="nav-link">Como Ajudar</a></li>
                        <li class="nav-item link-menu"><a href="/amigo-down/transparencia" class="nav-link">Transparência</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <hr class="borda-colorida">
</header>