html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100%;
    max-width: 130rem;
    display: flex;
    flex-direction: column;
}

h4 {
    color: black;
}

a,
.link-menu {
    color: black !important;
}

p { 
   text-indent: 30px;
}

.link-menu:after {
    display: block;
    width: 0;
    height: 3px;
    content: "";
    transition: width 0.2s;
    background-color: #ffe135;
}

.link-menu:hover {
    font-weight: bold;
}

.link-menu:hover:after {
    width: 100%;
}

.btn:hover {
    background-color: #e7d362 !important;
}

img {
    object-fit: cover !important;
}

.card-eventos {
    width: 18rem;
}

.card-minicasa {
    width: 22rem;
    height: 18rem;
    object-fit: cover !important;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.img-zumba {
    width: 20rem;
    height: 25rem;
}

.aula-zumba {
    width: 40rem;
}

.card-associados {
    width: 12rem;
    height: 200px;
    align-items: top;
    margin: 0.4%;
}

.card-associados:hover, .card-eventos:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
.borda-colorida {
    background: linear-gradient(to right, #ffe135, #D82E3F, #63CAD8);
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

.texto {
    text-align: justify !important;
}

footer {
    min-height: 50px;
}

.wrap {
    flex: 1;
}